*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #363636;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: large;
}

textarea{
    border-radius: 2vw;
    padding: 5%;
    height: 45vh;
    width: 20vw;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    resize: none;
}

.span1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.div1{
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 60vw;
    justify-content: space-around;
}

.btnArea{
    height: 10vh;
    width: 12vw;
    justify-content: center;
    align-items: center;
}

.btn1{
    height: 8vh;
    width: 10vw;
    border-radius: 2vh;
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(91, 1, 91), rgb(144, 1, 146));
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 4vh;
    cursor: pointer;
    transition: 0.2s;
}

.btn1:hover{
    height: 8.5vh;
    width: 10.5vw;
    font-size: 4.5vh;
}

#page2{
    display: none;
}

/* css generico */

section{
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 65vw;
    padding: 5vh;
    border-radius: 2vw;
    box-shadow: 0px 0px 20px 0px black;
}

main{
    display: flex;
    flex-direction: row;
    height: 8.5vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

input{
    text-align: center;
    border-radius: 1vh;
}

button{
    height: 8vh;
    width: 10vw;
    border-radius: 2vh;
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(91, 1, 91), rgb(144, 1, 146));
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 4vh;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    height: 8.5vh;
    width: 10.5vw;
    font-size: 4.5vh;
}